server:
  port: 8002

spring:
  application:
    name: payment-provider-service
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://129.28.170.49:3306/db01?useSSL=false&characterEncoding=utf-8&serverTimezone=GMT
    username: root
    password: 123456


mybatis-plus:
  mapper-locations: classpath*:/mapper/**/*.xml
  global-config:
    banner: false
    db-config:
      logic-delete-value: 1
      logic-not-delete-value: 0

eureka:
  client:
    # 表示是否将自己注册进eureka server，默认为true
    register-with-eureka: true
    fetch-registry: true
    service-url:
      # 集群版
      defaultZone: http://eureka7001.com:7001/eureka,http://eureka7003.com:7003/eureka
      # 单机版
#      defaultZone: http://localhost:7001/eureka
  # 实例名称
  instance:
    instance-id: payment8002
    prefer-ip-address: true